extends _layout

block content
    main.dark-bg
        .container.body
            div.valign-wrapper
                .row
                    .col            
                        div#auth-card.card
                            div.card-content.center-align
                                h2 Expand Your Library
                            div.card-tabs
                                ul.tabs.tabs-fixed-width
                                    li.tab #[a(href="#list") Create a List]
                                    li.tab #[a(href="#song") Add a Song]
                            div.card-content.grey.lighten-4
                                div#list
                                    form.card-content(method='post', action='/lists')
                                        span.card-title Create a List.
                                        //- display errors
                                        div#errors
                                        if list_errors
                                            ul
                                                for error in list_errors
                                                    li.pink-text.text-darken-1!= error.msg
                                        if db_error
                                            p.pink-text.text-darken-1 #{db_error}
                                        .input-field
                                            input(type='text', name='list_name', id="list_name", required="true")
                                            label(for="list_name") List Name
                                        .input-field
                                            select(name="list_difficulty" id="list_difficulty")
                                                option(value="0" disabled selected) Choose a difficulty
                                                option(value="1") Easy
                                                option(value="2") Moderate
                                                option(value="3") Hard
                                            label(for="list_difficulty") List Difficulty (optional)
                                        .input-field
                                            input.btn(type='submit', value='Create!')
                                div#song
                                    form.card-content(method='post', action='/songs')
                                        span.card-title Add a Song.
                                        div#errors
                                        if song_errors
                                            ul
                                                for error in song_errors
                                                    li.pink-text.text-darken-1!= error.msg
                                        p.deep-purple-text #[span.pink-text.daken-1 *] REQUIRED
                                        if db_error
                                            p.pink-text.text-darken-1 #{db_error}
                                        .input-field
                                            input(type='text', name='title', id="title", required="true")
                                            label(for="title") Title
                                        .input-field
                                            input(type='text', name='artist', id="artist", required="true")
                                            label(for="artist") Artist
                                        br
                                        p.deep-purple-text EXTRA OPTIONS
                                        br
                                        .input-field
                                            select(name="inList", id="inList", multiple)
                                                option(value="Library", selected, disabled) Library
                                                for list in lists
                                                    if list.name != "Library"
                                                        option(value=list.name) #{list.name}
                                            label(for="inList") Select or create a list (all songs will be added to Library automatically)
                                        .input-field
                                            select(name="mode" id="mode")
                                                option(value="0") Minor
                                                option(value="1") Major
                                            label(for="list_difficulty") Mode (major or minor)
                                        .input-field
                                            input(type="number", min="1", max="11", name='key', id="key")
                                            label(for="key") Key
                                        .input-field
                                            input(type="number", min="0", max="10", name='capo', id="capo")
                                            label(for="capo") Capo
                                        .input-field
                                            input(type="number", min="0", max="500", name='tempo', id="tempo")
                                            label(for="tempo") Tempo (BPM)
                                        .input-field
                                            input(type="number", min="0", name='duration', id="duration")
                                            label(for="duration") Duration
                                        .input-field
                                            input(type="number", min="0", name='time_sig', id="time_sig")
                                            label(for="time_sig") Time Signature
                                        .input-field
                                            input.btn(type='submit', value='Add Song!')
