extends __layout
block content
  -var keys = ['C', 'C♯/D♭', 'D', 'D♯/E♭', 'E', 'F', 'F♯/G♭', 'G', 'G♯/A♭', 'A', 'A♯/B♭', 'B']
          
  div(class="text-center card container p-4 mt-3")
    h1 Songs
    
    div(class="text-center mt-2")
      a(href="" class="btn spotify-btn btn-rounded same-width" data-toggle="modal" data-target="#spotifyModalForm") Search Spotify
      a(href="" class="btn blue-gradient btn-rounded same-width" data-toggle="modal" data-target="#songModalForm") Create a Song
      
  div(class="text-center card container p-4 my-4")
    if songs
      if songs.length > 0
        
        div(class="card")
          div(class="view card-header elegant-color-dark p-2 mb-0")
            div(class='d-flex justify-content-between align-items-center')
              h3(class="white-text mx-3 mt-3") #[Strong Your Song Library]
              div(class="mr-2")
                button#editsong(type="button" class="btn btn-outline-white btn-rounded btn-sm px-2") #[i(class="fas fa-pencil-alt mt-0")]
                button#deletesong(type="button" class="btn btn-outline-white btn-rounded btn-sm px-2") #[i(class="far fa-trash-alt mt-0")]
                button#aboutsong(type="button" class="btn btn-outline-white btn-rounded btn-sm px-2") #[i(class="fas fa-info-circle mt-0")]
            div#songfilters(class='d-flex mt-2 px-1 justify-content-between ')
              
          div(class="d-flex justify-content-center")
            div(class="table-wrapper table-responsive mx-4 my-2 px-2")
              table#dtSongs(class="table table-hover" cellspacing='0')
                thead
                  tr
                    th(hidden)
                    th
                      | Title
                    th
                      | Artist
                    th(class="text-center")
                      | Key
                    th(class="text-center")
                      | BPM
                    th(class="text-center")
                      | Capo
                    th(class="text-center")
                      | Duration
                    th(class="text-center")
                      | #[i(class="fab fa-spotify mr-2")]
                tbody
                  for song in songs
                    tr(class='filter-list')
                      td(hidden) #{song._id}
                      td #[strong #{song.title}]
                      td #{song.artist}
                      td(class="text-center") #{(keys[song.key]) ? keys[song.key] : "-"}
                      td(class="text-center") #{(song.tempo) ? song.tempo : "-"}
                      td(class="text-center") #{(song.capo) ? song.capo : "-"}
                      td(class="text-center") #{(getDuration(song.duration) != '0:00') ? getDuration(song.duration) : "-"}
                      if song.preview_url != 'null'
                        td(class="text-center") #[i(id=song.spotify_id class="far fa-play-circle text-black-50 p-0 mod" aria-hidden="true")]
                        audio(id="audio-" + song.spotify_id src=song.preview_url autostart="false")
                      else 
                        td(class="text-center") -
          
          div#songfooter(class="view card-header elegant-color-dark p-0 mb-0 d-flex justify-content-between align-items-center white-text")        
      else 
        p There are currently no songs in your library. Wanna change that?
        p Start by clicking a button above.
