extends _layout

block main
    main#one-list
        .container
            p.pink-text.darken-1 #[i.material-icons.left warning] #[strong Under Construction]
            for item in lists
                if item._id == list
                    h1 #{item.name}
                    if item._id != "5c099a54c410459ebce5ef1c"
                        span 
                            button#deleteList(class="modify btn new badge pink darken-1 white-text" data-badge-caption="delete") Delete
                        
                    p List ID: #{item._id}
            
                    div(class="card-body")
                        h5(class="card-title") Songs:
                        if item.songs != 0
                            table.highlight.collapsible.white
                                thead.dark-bg.white-text
                                    tr
                                        th.sm #[i.material-icons.left.play-song play_circle_outline]
                                        th Title and Artist
                                        th Key
                                        th BPM
                                        th.sm More
                                tbody
                                    for item in {songs}
                                        for song in item
                                            tr
                                                div 
                                                    td.sm.hidden #[i.material-icons.left.play-song play_circle_outline] 
                                                    td #[strong #{song.title}] 
                                                        div #[em by #{song.artist}]
                                                    td Am
                                                    td 92
                                                    td.sm #[i.material-icons.right more_vert]
                                            
                                            ul.collapsible
                                                li
                                                    div.collapsible-header
                                                        span #[i.material-icons.left.play-song play_circle_outline] #[strong #{song.title}] #[em by #{song.artist}]
                                                        span Key
                                                        span BPM
                                                        span #[i.material-icons.right more_vert]
                                                    div.collapsible-body #[span Chords would go here.]

                        else 
                            p(class="card-text") No songs in this list. Add a song! #[a(href="/expand").btn-floating.btn-small.purple-bg.darken-1 #[i.material-icons music_note]]
