extends __layout
block content
  div(class="text-center card container p-4 my-3 d-flex")
    h1 Practice
    small(class="cyan-text") What would you like to do?
    
  div(class="text-center card container p-4 my-3 d-flex")
    div(class="text-left card-deck my-2")
      div(class="card")
        div(class="card-body")
          h5(class="card-title") Daily Practice
          small(class="card-text") Goal for #{date}
          br 
          if goal 
          else
            hr
            p Your daily goal has not been set up yet.
            p #[a(href="" data-toggle="modal" data-target="#editSongModalForm") Click here] to do that now.
        div(class="card-footer") 
          if progress
            small(class="text-muted") 26% completed
          else
            small(class="text-muted") Not started
      
      div(class="card") 
        div(class="card-body") 
          h5(class="card-title") Random Chord
          div(class="text-center")
            div#randomChord(class="jtab mx-auto chordonly") #{chord}
        div(class="card-footer") 
          small(class="text-muted") Chord: #{chord}
        
      div(class="card") 
        div(class="card-body") 
          h5(class="card-title") History & Stats
          br
          a(href="") Full History
          p Last Songs Played:
          
        div(class="card-footer") 
          small(class="text-muted") Total Practice Time:

  div(class="text-center card container p-4 my-3 d-flex")
    h1 Chord Progressions
    p(class="grey-text")
      | These are either major or minor and are displayed by key (I, IV, V).
    div(class="text-center")
      
      button(class="btn elegant-color-dark white-text mx-2" type="button" data-toggle="collapse" href="#major" aria-expanded="false" aria-controls="collapse" + key) Major
      button(class="btn elegant-color-dark white-text mx-2" type="button" data-toggle="collapse" href="#minor" aria-expanded="false" aria-controls="collapse" + key) Minor
      
    div(class="text-center my-3")
      div(class="collapse" id="major")
        p(class="grey-text")
          | #[strong Major] chord progressions by key:
          each val in majorProg
            p #[strong #{val.majorkey} major]: #{val.progressions}
            div(class="jtab progressions mx-auto") #{val.progressions}
            hr
              
      div(class="collapse" id="minor")
        p(class="grey-text")
          | #[strong Minor] chord progressions by key:
        each val in minorProg
          p #[strong #{val.minorkey} minor]: #{val.progressions}
          div(class="jtab progressions mx-auto") #{val.progressions}
          hr
