extends __layout
block content
  div(class="text-center card container p-4 my-3 d-flex")
    h1 Hone Your Skills
    small(class="cyan-text") What would you like to do?
    
  div(class="text-center card container p-4 my-3 d-flex")
    div(class="text-left card-deck my-2")
      div(class="card")
        div(class="card-body")
          h5(class="card-title") Daily Practice
          small(class="card-text") Goal for #{date}
          br 
          hr
          if goal
            p(class="cyan-text") Your goal:
            if goal.time
              p Time: #{goal.time} minutes
            if goal.song
              p Song: #{goal.song}
            if goal.chordprog
              p Chord Progression: #{goal.chordprog.progressions}
            hr
            a(class="blue-text" data-toggle="modal" data-target="#goalModalForm") Create a new goal
            
          else
            p Your daily goal has not been set up yet.
            p #[a(class="blue-text" data-toggle="modal" data-target="#goalModalForm") Click here] to do that now.
        div(class="card-footer") 
          if progress
            small(class="text-muted") 26% completed
          else
            small(class="text-muted") Not started
      
      div(class="card") 
        div(class="card-body") 
          h5(class="card-title") Random Chord
          div(class="text-center")
            div#randomChord(class="jtab mx-auto chordonly") #{chord}
        div(class="card-footer") 
          small(class="text-muted") Chord: #{chord}
        
      div(class="card") 
        div(class="card-body") 
          h5(class="card-title") History & Stats
          br
          a(href="") Full History
          p Last Songs Played:
          
        div(class="card-footer") 
          small(class="text-muted") Total Practice Time:

  div(class="text-center card container p-4 my-3 d-flex")
    h1 Chord Progressions
    p(class="grey-text")
      | These are either major or minor and are displayed by key (I, IV, V).
    div(class="text-center")
      
      button(class="btn elegant-color-dark white-text mx-2" type="button" data-toggle="collapse" href="#major" aria-expanded="false" aria-controls="collapse" + key) Major
      button(class="btn elegant-color-dark white-text mx-2" type="button" data-toggle="collapse" href="#minor" aria-expanded="false" aria-controls="collapse" + key) Minor
      
    div(class="text-center my-3")
      div(class="collapse" id="major")
        p(class="grey-text")
          | #[strong Major] chord progressions by key:
          each val in majorProg
            p #[strong #{val.majorkey} major]: #{val.progressions}
            div(class="jtab progressions mx-auto") #{val.progressions}
            hr
              
      div(class="collapse" id="minor")
        p(class="grey-text")
          | #[strong Minor] chord progressions by key:
        each val in minorProg
          p #[strong #{val.minorkey} minor]: #{val.progressions}
          div(class="jtab progressions mx-auto") #{val.progressions}
          hr
    
    
  div(class="modal fade hidden" id="goalModalForm" tabindex="-1" role="dialog" aria-labelledby="goalModalLabel" aria-hidden="true")
    div(class="text-center container p-4 mt-3")
      div(class="modal-dialog" role="document")
        div(class="modal-content form-elegant")
          div(class="modal-header text-center")
            h3(class="modal-title w-100 dark-grey-text font-weight-bold my-3 ml-4" id="goalModalLabel") #[strong Practice Goal]
            button(type="button" class="close" data-dismiss="modal" aria-label="Close") #[span(aria-hidden="true") &times;]        
          small Goals are set daily
          hr
          div(class="modal-body mx-4")       
            form(method='post', action='/practice/goal') 
              div(class="form-row")
                div(class="col")
                  div(class="md-form")
                    input(type="number" step="5" min="0" max="120" name="time" id="time" class="form-control")
                    label(data-error="wrong" data-success="" for="time") Amount of Time            
                div(class="col")
                  div(class="md-form")
                    select(id="chordprog" name="chordprog" class="browser-default custom-select m-0 p-0")
                      option(value="0") Chord Progression
                      option(value="major") Major
                      option(value="minor") Minor
                      
              div(class="form-row")
                div(class="col")
                  div(class="md-form")
                    select(id="songs" name="songs" class="browser-default custom-select m-0 p-0")
                      option(value="-1", selected, disabled) Choose a Song
                      if songs
                        for song in songs
                          option(value=song.title + " by " + song.artist) #{song.title} by #{song.artist}       

              div(class="text-center mb-3")
                button(type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a") Create Goal! 
