extends __layout
include ./includes/createSong
block content
  +createSong
          
  div(class="text-center card container p-4 mt-3")
    h1 Songs
    p #{msg}
    
    div(class="text-center")
      a(href="" class="btn spotify-btn btn-rounded" data-toggle="modal" data-target="#") Search Spotify
      a(href="" class="btn blue-gradient btn-rounded" data-toggle="modal" data-target="#songModalForm") Create a Song
      
  div(class="text-center card container p-4 my-4")
    if songs 
      div(class="card")

        div(class="view card-header elegant-color-dark p-2 mb-3 d-flex justify-content-between align-items-center")

          p(class="white-text mx-3 mt-3") Your Song Library

          div(class="mr-2")
            button#editsong(type="button" class="btn btn-outline-white btn-rounded btn-sm px-2") #[i(class="fas fa-pencil-alt mt-0")]
            button#deletesong(type="button" class="btn btn-outline-white btn-rounded btn-sm px-2") #[i(class="far fa-trash-alt mt-0")]
            button#aboutsong(type="button" class="btn btn-outline-white btn-rounded btn-sm px-2") #[i(class="fas fa-info-circle mt-0")]

        div(class="px-4  d-flex justify-content-center")
          div(class="table-wrapper wrapper-modal-editor")
            table#dtSongs(class="table mb-4 table-responsive table-hover")

              thead
                tr
                  th(class="th-lg")
                    a Title #[i(class="fas fa-sort mx-1")]
                  th(class="th-lg")
                    a Artist #[i(class="fas fa-sort mx-1")]
                  th(class="th-lg text-center")
                    a Key #[i(class="fas fa-sort mx-1")]
                  th(class="th-sm text-center")
                    a BPM #[i(class="fas fa-sort mx-1")]
                  th(class="th-sm text-center")
                    a Capo #[i(class="fas fa-sort mx-1")]
                  th(class="text-center")
                    a Duration #[i(class="fas fa-sort mx-1")]

              tbody
                for song in songs 
                  if song.key == 0
                    -var key = "C"
                  else if song.key == 1
                    -var key = "C♯/D♭"
                  else if song.key == 2
                    -var key = "D"
                  else if song.key == 3
                    -var key = "D♯/E♭"
                  else if song.key == 4
                    -var key = "E"
                  else if song.key == 5
                    -var key = "F"
                  else if song.key == 6
                    -var key = "F♯/G♭"
                  else if song.key == 7
                    -var key = "G"
                  else if song.key == 8
                    -var key = "G♯/A♭"
                  else if song.key == 9
                    -var key = "A"
                  else if song.key == 10
                    -var key = "A♯/B♭"
                  else if song.key == 11
                    -var key = "B"
                  else 
                    -var key = "-"
                  tr(data-id="nope")
                    td(hidden) #{song._id}
                    td #{song.title}
                    td #{song.artist}
                    if key != "-"
                      td(class="text-center") #{key}
                    else 
                      td(class="text-center blue-text") #{key}
                    if song.tempo
                      td(class="text-center") #{song.tempo}
                    else 
                      td(class="text-center blue-text") -
                    if song.capo
                      td(class="text-center") #{song.capo}
                    else 
                      td(class="text-center blue-text") -
                    if song.duration
                      td(class="text-center") #{song.duration}  
                    else 
                      td(class="text-center blue-text") -
